### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
#Clean up data to get unique player names
total_players = purchase_data_df["SN"].nunique()

#Create data frame
total_players_df = pd.DataFrame({"Total Players": [total_players]})

#Print data
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Clean up data to find unique items
unique_items = purchase_data_df["Item ID"].nunique()

#Calculate average price
average_price = purchase_data_df["Price"].mean()

#Calculate total purchases
total_purchases = purchase_data_df["Purchase ID"].count()

#Calculate total revenue
total_revenue = purchase_data_df["Price"].sum()

#Create dataframe
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                    "Average Price": [average_price],
                                    "Total Purchases": [total_purchases],
                                    "Total Revenue": [total_revenue]})

#Format average price and total revenue columns 
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${0:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${0:,.2f}".format)

#Print data
purchase_analysis_df

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [18]:
#Count each gender and calculate percentage
male_players = purchase_data_df.loc[purchase_data_df["Gender"]== "Male"]
male_players_count = len(male_players["SN"].unique())
male_players_percent = (male_players_count / total_players)*100

female_players = purchase_data_df.loc[purchase_data_df["Gender"]== "Female"]
female_players_count = len(female_players["SN"].unique())
female_players_percent = (female_players_count / total_players)*100

other_players = purchase_data_df.loc[purchase_data_df["Gender"]== "Other / Non-Disclosed"]
other_players_count = len(other_players["SN"].unique())
other_players_percent = (other_players_count / total_players)*100

#Create Dataframe
gender_df = pd.DataFrame([{"Gender": "Male",
                           "Total Count": male_players_count,
                           "Percentage of Players": male_players_percent},
                          
                          {"Gender": "Female",
                           "Total Count": female_players_count,
                           "Percentage of Players": female_players_percent},
                          
                          {"Gender": "Other / Non-Disclosed",
                           "Total Count": other_players_count,
                           "Percentage of Players": other_players_percent}], 

#Name column headers                         
columns = (["Total Count", 
            "Percentage of Players"]))
                        
#Rename Rows
gender_df = gender_df.rename(index={0: "Male",
                                    1: "Female",
                                    2: "Other / Non-Disclosed"})

#Fix formatting for percentage column
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{0:,.2f}%".format)

#Print Data
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Count Purchases for each Gender
male_purchases = purchase_analysis_df.loc[purchase_analysis_df["Gender"] == "Male", :]
male_purchase_count = len(male_purchases)

female_purchases = purchase_analysis_df.loc[purchase_analysis_df["Gender"] == "Female", :]
female_purchase_count = len(female_purchases)

other_purchases = purchase_analysis_df.loc[purchase_analysis_df["Gender"] == "Other / Non-Disclosed", :]
other_purchase_count = len(other_purchases)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame